dictionary_da.lst filter=lfs diff=lfs merge=lfs -text
dictionary_en.lst filter=lfs diff=lfs merge=lfs -text
dictionary_es.lst filter=lfs diff=lfs merge=lfs -text
inflectional_da.xml filter=lfs diff=lfs merge=lfs -text
inflectional_en.xml filter=lfs diff=lfs merge=lfs -text
inflectional_es.xml filter=lfs diff=lfs merge=lfs -text
inflectional_sv.xml filter=lfs diff=lfs merge=lfs -text
dictionary_sv.lst filter=lfs diff=lfs merge=lfs -text
