dictionary_ar.lst filter=lfs diff=lfs merge=lfs -text
dictionary_da.lst filter=lfs diff=lfs merge=lfs -text
dictionary_de.lst filter=lfs diff=lfs merge=lfs -text
dictionary_en.lst filter=lfs diff=lfs merge=lfs -text
dictionary_es.lst filter=lfs diff=lfs merge=lfs -text
dictionary_fr.lst filter=lfs diff=lfs merge=lfs -text
dictionary_he.lst filter=lfs diff=lfs merge=lfs -text
dictionary_hi.lst filter=lfs diff=lfs merge=lfs -text
dictionary_it.lst filter=lfs diff=lfs merge=lfs -text
dictionary_ko.lst filter=lfs diff=lfs merge=lfs -text
dictionary_ml.lst filter=lfs diff=lfs merge=lfs -text
dictionary_nb.lst filter=lfs diff=lfs merge=lfs -text
dictionary_nl.lst filter=lfs diff=lfs merge=lfs -text
dictionary_pt.lst filter=lfs diff=lfs merge=lfs -text
dictionary_ru.lst filter=lfs diff=lfs merge=lfs -text
dictionary_sv.lst filter=lfs diff=lfs merge=lfs -text
dictionary_tr.lst filter=lfs diff=lfs merge=lfs -text
inflectional_ar.xml filter=lfs diff=lfs merge=lfs -text
inflectional_da.xml filter=lfs diff=lfs merge=lfs -text
inflectional_de.xml filter=lfs diff=lfs merge=lfs -text
inflectional_en.xml filter=lfs diff=lfs merge=lfs -text
inflectional_es.xml filter=lfs diff=lfs merge=lfs -text
inflectional_fr.xml filter=lfs diff=lfs merge=lfs -text
inflectional_he.xml filter=lfs diff=lfs merge=lfs -text
inflectional_hi.xml filter=lfs diff=lfs merge=lfs -text
inflectional_it.xml filter=lfs diff=lfs merge=lfs -text
inflectional_ml.xml filter=lfs diff=lfs merge=lfs -text
inflectional_nb.xml filter=lfs diff=lfs merge=lfs -text
inflectional_nl.xml filter=lfs diff=lfs merge=lfs -text
inflectional_pt.xml filter=lfs diff=lfs merge=lfs -text
inflectional_ru.xml filter=lfs diff=lfs merge=lfs -text
inflectional_sv.xml filter=lfs diff=lfs merge=lfs -text
inflectional_tr.xml filter=lfs diff=lfs merge=lfs -text
