#
# Copyright 2016-2024 Apple Inc. All rights reserved.
#
# Metadata directory
.DS_Store
.gradle
.idea
# Temporary build directory
build
dist
# Generated documentation
docs/headers
docs/html
docs/xml
docs/pages
# Vim
*.swp
# Cmake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeBuild*
cmake-build-*
options.mk
# Gradle
gradle/wrapper/gradle-wrapper.jar
